@font-face {
  font-family: "etl-fonticon";
  src: url("../fonts/etl-fonticon.eot");
  src: url("../fonts/etl-fonticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/etl-fonticon.woff2") format("woff2"),
    url("../fonts/etl-fonticon.woff") format("woff"),
    url("../fonts/etl-fonticon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
